body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    margin: 0;
    padding: 0;
}
.container {
    width: 90%;
    max-width: 450px;
    margin: 50px auto;
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
h1, h2, h3 {
    color: #C00; /* Czerwony Polregio */
}
.input-field {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 12px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #C00;
    background-color: white;
    color: black;
}
button {
    background: #C00;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    padding: 12px;
    border-radius: 8px;
}
button:hover {
    background: #900;
}
ul {
    text-align: left;
    list-style: none;
    padding: 0;
}
li {
    background: #EEE;
    margin: 5px 0;
    padding: 10px;
    border-radius: 8px;
}
#exportPDF {
    background: #004B87;
}
#exportPDF:hover {
    background: #002E5D;
}
